<!doctype html>
<html>

<head>
    <title>The BUG</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 80px;
            word-wrap: break-word;
        }
    </style>
</head>

<body>
    <div class="container">

        <div class="page-header text-center">
            <h1><span class="fa fa-bug"></span> Profile Page</h1>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        </div>

        <div class="row">

            <div class="col-sm-6">
                <div class="well">
                    <h3><span class="fa fa-user"></span> Local</h3>

                    <% if (user.local.email) { %>
                    <p>
                        <!-- <strong>id</strong>: <%= user._id %><br> -->
                        <strong>email</strong>: <%= user.local.email %><br>
                        <!-- <strong>password</strong>: <%= user.local.password %> -->
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                    <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                    <% } %>

                </div>
            </div>


        </div>

    </div>

    <div class="text-center">
        <p>The Bug</p>

    </div>

    </div>
</body>

</html>